.example-card {
    width: 350px;
    height: 410px;
    font-family: inherit;
    &--img {
        width: 50%;
        height: 40%;
        margin: 0 auto;
        padding: 10px;
    }
    &--title {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    &--desc {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    &--info {
        display: flex;
        justify-content: space-between;
    }
}

