
<div class="container">
	<div class="form" id="form">
		<div class="form-container">
			<form [formGroup]="loginForm" *ngIf="loginForm" (ngSubmit)="login()" novalidate>
				<h1>Log in</h1>
				<span>Use your account Username and password </span>
				<input type="text" placeholder="Username" formControlName="username"/>
				<input type="password" placeholder="Password" formControlName="password" />
				<button>log In</button>
			</form>
		</div>
		<div class="form-overlay">
			<div class="form-overlay-container">
				<div class="form-overlay-panel form-overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
				</div>
			</div>
		</div>
	</div>
</div>

