.add-edit {
	width: 500px;
	padding: 60px;

	h3 {
		color: #4C489D;
	}

	&__field {
		padding: 20px 0px;	
		position: relative;	
	}

	&__input {
		border: none;
		border-bottom: 2px solid #D1D1D4;
		background: none;
		padding: 10px;
		padding-left: 24px;
		font-weight: 700;
		width: 100%;
		transition: .2s;

		&:active,
		&:focus,
		&:hover {
			outline: none;
			border-bottom-color: #6A679E;
		}
	}

	&__submit {
		display: flex;
		justify-content: space-between;
	}

	button {
		border-radius: 10px;
		border: 1px solid #3f51b5;
		background-color: #3f51b5;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		margin: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
	}

	button:active {
		transform: scale(0.95);
	}

	button:focus {
		outline: none;
	}

	button.ghost {
		background-color: transparent;
		border-color: #FFFFFF;
	}
}

.mat-mdc-form-field {
	width: 100%;
}