
<form class="add-edit" [formGroup]="addEditForm" *ngIf="addEditForm" novalidate>

    <h3 *ngIf="!isEdit"> Add Product </h3>
    <h3 *ngIf="isEdit"> Edit Product </h3>

    <div class="add-edit__field">
        <input formControlName="title" type="text" class="add-edit__input" placeholder="Title Product">
    </div>
    <div class="add-edit__field">
        <input formControlName="description" type="text" class="add-edit__input" placeholder="Description">
    </div>
    <div class="add-edit__field" *ngIf="categories.length">
        <mat-form-field>
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="add-edit__field">
        <input formControlName="image" type="text" class="add-edit__input" placeholder="Image Link">
    </div>
    <div class="add-edit__field">
        <input formControlName="price" type="number" class="add-edit__input" placeholder="Product Price">
    </div>
    
    <button mat-button [mat-dialog-close]="data" class="button add-edit__submit" (click)="submit()" cdkFocusInitial>{{isEdit ? 'Edit' : 'Add'}}</button>
    <button mat-button class="mat-mdc-button-touch-target button add-edit__submit" (click)="onNoClick()">Cancel</button>				
</form>