
* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(white, #8393f1);
	font-family: 'Montserrat', sans-serif !important;
	height: inherit;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}