<form class="example-form">

    <mat-form-field class="example-full-width">
        <mat-label >{{ "search.title" | translate }}</mat-label>
        <input value="{{searchText}}" matInput (input)="search($event)">
    </mat-form-field>

    <div class="example-button-row">
        <button mat-raised-button color="primary" *ngFor="let category of categories" (click)="filter(category)" > {{ "category." + category | translate }} </button>
        <button mat-raised-button color="primary" (click)="reset()"> {{ "search.reset" | translate }} </button>
    </div>

</form>